::selection {
  background: #add138; /* WebKit/Blink Browsers */
  color:#fff;
}
::-moz-selection {
  background: #add138; /* Gecko Browsers */
  color:#fff;
}
a::selection {
  background: #add138; /* WebKit/Blink Browsers */
  color:#363636;
}
a::-moz-selection {
  background: #add138; /* Gecko Browsers */
  color:#363636;
}